body {
    background-color: #FDFDFD;
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1500px;
    }
}
h1, h2, h3, h4, h5, p, a, b {
    color: #1D3557;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.offset_helper {
    margin-left: 3%;
}

.w-30 {
    width: 30% !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.btn-success {
    background-color: #1D3557;
    transition: 0.5s all;
    font-weight: 600;
    border-color: transparent;
    box-shadow: none;
}

.btn-success:active {
    border-color: transparent;
}

.btn-success:hover {
    background-color: #457B9D;
}

.btn-danger {
    color: #1D3557;
    border-color: #1D3557;
    font-weight: 600;
    background: transparent;
    transition: 0.5s all;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #457B9D;
    border-color: #457B9D;
}


.search-loupe {
    right: 0;
    top: 6px;
    z-index: 3;
}

.search-input {
    border-color: #EFF3F8;
    font-size: 20px;
    color: #ACB5C2;
    position: relative;
    z-index: 1;
}

.search-input:focus {
    background-color: transparent;
}

.navbar-brand {
    font-size: 26px;
}

.nav-link {
    font-size: 22px;
}

.card-border {
    background: #FFFFFF;
    border: 2px solid #EFF3F8;
    border-radius: 10px;
}

.accordion-item:nth-child(1) {
    background: #FFFFFF;
    border: 2px solid #EFF3F8;
    border-radius: 10px 10px 0 0;
}

.accordion-item:nth-last-child(1){
    background: #FFFFFF;
    border: 2px solid #EFF3F8;
    border-radius: 0 0 10px 10px;
}

.accordion-item {
    border-radius: 0;
    border: 2px solid #EFF3F8;
}

.accordion-button {
    font-size: 18px;
    color: #1D3557;
}

/*.accordion-item {*/
/*    background: #FFFFFF;*/
/*    border: 2px solid #EFF3F8;*/
/*    border-radius: 10px 10px 0px 0px;*/
/*}*/

